body {
  background-image: url("../img/background.jpeg");
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.elem_menu a:hover {
  color: rgb(129, 0, 0);
  text-transform: uppercase;
}

.elem_menu a:active,
a:link,
a:visited {
  color: rgb(227, 227, 227);
}

#img_top_banner {
  border-radius: 8px;
}

header {
  position: relative;
  margin: auto;
  padding-top: 20px;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(227, 227, 227);
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 20px;
}

#home {
  left: 623px;
}
#menu {
  left: 795px;
}
#gallery {
  left: 1074.75px;
}
#contacts {
  left: 1246.75px;
}

.but_rezervet_galdu {
  position: absolute;
  top: 520px;
  left: 80px;
  width: 164px;
  height: 45px;
  border: rgb(227, 227, 227) solid 2px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  border-radius: 4px;
  color: rgb(227, 227, 227);
}

.vertical_middle {
  margin-block: 10px;
}

.info_banner1 {
  margin: auto;
  background-color: aliceblue;
  height: 100px;
  width: 1420px;
}

.form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 710px;
  background-color: #030b15;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-block: 10px;
}

#label_reservation {
  font-size: 42px;
  text-align: center;
}

.label_reservation {
  color: white;
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}
.form-labels {
  padding-top: 15px;
  width: 96%;
  text-align: center;
}

input,
select {
  width: 100%;
  font-size: 16px;
  height: 30px;
  border-radius: 6px;
  margin: 3px 0px 20px 0px;
  text-align: center;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-block: 10px;
  width: 96%;
}

.table-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30%;
  border: 2px white solid;
  height: 90px;
  margin: 5px;
  border-radius: 100px;
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: rgb(2, 185, 2);
  border: 2px white;
  border-style: dashed;
}

#submit_reservation {
  text-align: center;
  margin-top: 10px;
  width: 96%;
  height: 40px;
  background-color: rgb(2, 185, 2);
  cursor: pointer;
  padding-block: 5px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  border: none;
}

.already_booked {
  background-color: #030b15;
  color: brown;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 1420px;
  margin: auto;
  padding: 0px;
}

.gallery {
  display: grid;
  background-color: aliceblue;
  height: 300px;
  /* border: 2px solid white; */
  /* padding: 30px; */
}

#h2_g {
  width: 1420px;
  margin: auto;
}

#h2_g h2 {
  text-align: left;
  color: white;
  font-size: 48px;
  margin: 0;
  padding: 0px;
  /* margin: auto; */
  /* border: solid px black; */
  /* background-color: white; */
}
