body {
  background-image: url("../img/background.jpeg");
  /* display: flex;
  justify-content: center; */
}

.container {
  display: flex;
  flex-direction: column;
  /* width: minmax(300px, auto); */
  align-items: center;
  gap: 3vw;
  padding: 0.5vw;
}

.elem_menu a:hover {
  color: rgb(129, 0, 0);
  text-shadow: 10px 10px 10px black;
}

.elem_menu a {
  color: rgb(227, 227, 227);
  /* text-shadow: 3px 3px 3px black; */
  text-decoration: none;
}

.elem_menu a:active {
  text-decoration: double;
  color: red;
}

#img_top_banner {
  border-radius: 8px;
  width: 100%;
  min-width: 830px;
}

header {
  position: relative;
  margin: auto;
  width: 100%;
  min-width: 830px;
  max-width: 1420px;
  /* padding-top: 1vw; */
}

h1 {
  margin: 0px;
  position: absolute;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(227, 227, 227);
  font-size: 2em;
  font-weight: 700;
  top: 2%;
  transform: translate(-100%, 10%);
}

#home {
  position: absolute;
  right: 60%;
}
#menu {
  position: absolute;
  right: 45%;
}
#gallery {
  position: absolute;
  right: 24%;
}
#contacts {
  position: absolute;
  right: 5%;
  transform: translate(-80%, 15%);
}

.but_rezervet_galdu {
  position: absolute;
  top: 70%;
  left: 4%;
  width: 164px;
  height: 45px;
  border: rgb(227, 227, 227) solid 2px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  border-radius: 4px;
  color: rgb(227, 227, 227);
}

.vertical_middle {
  margin-block: 10px;
}

.info_banner1 {
  margin: auto;
  background-color: aliceblue;
  height: 100px;
  width: 1420px;
}

.form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 710px;
  background-color: #030b15;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-block: 10px;
}

#label_reservation {
  font-size: 42px;
  text-align: center;
}

.label_reservation {
  color: white;
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}
.form-labels {
  padding-top: 15px;
  width: 96%;
  text-align: center;
}

input,
select {
  width: 100%;
  font-size: 16px;
  height: 30px;
  border-radius: 6px;
  margin: 3px 0px 20px 0px;
  text-align: center;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-block: 10px;
  width: 96%;
}

.table-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30%;
  border: 2px white solid;
  height: 90px;
  margin: 5px;
  border-radius: 100px;
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: rgb(2, 185, 2);
  border: 2px white;
  border-style: dashed;
}

#submit_reservation {
  text-align: center;
  margin-top: 10px;
  width: 96%;
  height: 40px;
  background-color: rgb(2, 185, 2);
  cursor: pointer;
  padding-block: 5px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  border: none;
}

.already_booked {
  background-color: #030b15;
  color: brown;
}

.gallery-container {
  min-width: 830px;
  max-width: 1420px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, auto));
  /* grid-auto-rows: minmax(200px, auto); */
  column-gap: 10px;
  row-gap: 6px;
  margin: 0px auto;
  padding: 0px;
  transition: 0.1s;
}

.gallery a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  border-radius: 3px;
}

.gallery a:hover img {
  transform: rotate(8deg);
  scale: 1.4;
  transition: 0.7s;
}

.gallery img {
  width: 100%;
  height: 100%;
  scale: 1;
  transition: 1.5s;
  transition-delay: 0.6s;
}

#h2_g {
  width: 1420px;
  margin: auto;
}

#h2_g h2 {
  text-align: left;
  color: white;
  font-size: 48px;
  margin: 0;
  padding: 0px;
  /* text-shadow: 2px 3px 4px #030b15; */
}
